<script>
 myLocation = "https://gspdrm-logger.keypress.com/ks1/achistory?current=1&code=B3R63EP2G7JUU6GRHYPAJUQ3&license_name=Test,~*%26-%2F%2B_'."
 myLocation2 = "<%= @url_location %>"
</script>
<h1>Hello web page</h1>
<p><a onclick="location.href = myLocation">Go to the location as embedded js on webpage</a></p>
<p><a href='<%= @url_location %>'>Go to the location as a simple link</a></p>
<p><a onclick="location.href = myLocation2">Go to the location as string placed into js on webpage</a></p>